<!-- templates/index.html (Landing Page) -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Foodies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="navbar">
    <div class="logo">Recipe App</div>
    <div class="menu-icon" id="menu-icon">
        &#9776;
    </div>
    <ul class="nav-links" id="nav-links">
        <li><a href="/">Home</a></li> 
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/recipe_scaler">Recipe Scaler</a></li>
    </ul>
  </div>

  <div class="landing-page">
      <h1 class="welcome-message">Hello Foodie! 👋</h1>
      <p class="subtext">Here are your recipes.</p>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>



